nav.svelte-1y578v1{text-align:center}nav.svelte-1y578v1 .item.svelte-1y578v1{white-space:nowrap}
.message.svelte-i30q17{padding:10px;text-align:center;color:darkorchid}
.address.svelte-7ax9uq{text-decoration:underline dotted}
.login.svelte-9a9j1f{z-index:10;float:right;padding:30px}
.form.svelte-pxol9b{padding:0px 10px 10px 10px;border:1px dotted black;margin-top:10px;margin-bottom:10px}.serious.svelte-pxol9b{font-family:'Monaco', 'Courier New', Courier, monospace;font-size:0.9em;font-weight:normal}input[type=text].svelte-pxol9b{width:300px}
.metadata.svelte-1bvg0aj img.svelte-1bvg0aj{max-width:500px}.tokenDetails.svelte-1bvg0aj{font-weight:bold}
